{% extends 'base.html.twig' %}

{% block title %}Product form{% endblock %}

{% block body %}

    <div class="container">
        <br>
        {{ form_start(productForm) }}

        {{ form_widget(productForm) }}

        <input type="submit" value="Submit" class="btn btn-success">

        {{ form_end(productForm) }}

    </div>

{% endblock %}
